.employeeList__list {
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
  list-style-type: none;
}

.employeeList__item {
  displey: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.employeeList__delete {
  color: dimgray;
  cursor: pointer;
}

.employeeList__edit {
  color: dimgray;
  cursor: pointer;
}

.employeeList__detail {
  color: dimgray;
  cursor: pointer;
}
